nav(style={color:days[0].textColor})
    h1 Matt's Weather App
    a(href=`/` style={color:days[0].textColor}) Home
    a(href=`/seven-day` style={color:days[0].textColor}) 7 Day Forecast
    a(href=`/moon-cycle` style={color:days[0].textColor}) Moon Cycle
h2(style={color:days[0].textColor}) Hello #{name}, Here is the info for Zip Code #{zip}
    