div(class="container-fluid mx-0 mb-2")
  div(class="row justify-content-between")
    div.col-8
        h1(class="ml-4 mt-2 nameBlock" style={color:days[0].textColor}) #{name}'s Weather App
        h3(class="ml-4 mt-2 nameBlock" style={color:days[0].textColor}) Hello #{name}, Here is the info for Zip Code #{zip}
    div(class="col-4 ml-0 ")
        nav(class="mt-2 mr-2  ml-0 p-0" style={color:days[0].textColor})
            a(class="mr-4" href=`/` style={color:days[0].textColor}) Home
            a( class="ml-4" href=`/seven-day` style={color:days[0].textColor}) 7 Day Forecast
            //- a(href=`/air-quality` style={color:days[0].textColor}) Air Quality  