doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Matt's Weather App
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">    
    <link rel="stylesheet" href="/css/sevenDay.css">    
    <link rel="stylesheet" href="/css/hello.css">    
    <link rel="stylesheet" href="/css/mobile.css">    
    script(src="https://code.jquery.com/jquery.js")
    script(src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js")
    link(href="https://fonts.googleapis.com/css2?family=Bungee&family=Prompt:wght@600&display=swap" rel="stylesheet")
    if !weatherForecast
      body
        block content
    else
      body(style={background:`rgb(${days[0].backgroundColor})`})
        include includes/header.pug    
        block content
        include includes/footer.pug
        <script type="text/javascript" src="/scripts/date.js"></script>