doctype html
html(lang="en")
  head
    title My Planner
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">    
    <link rel="stylesheet" href="/css/sevenDay.css">    
    script(src="https://code.jquery.com/jquery.js")
    script(src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js")
    link(href="https://fonts.googleapis.com/css2?family=Bungee&family=Prompt:wght@600&display=swap" rel="stylesheet")
    body(style={background:`rgb(${days[0].backgroundColor})`})
    include includes/header.pug    
    block content
    include includes/footer.pug
    <script type="text/javascript" src="/scripts/date.js"></script>