/* body{
    font-family: 'Bungee', cursive;
    font-family: 'Prompt', sans-serif;
} */

#addItemForm {
    display: none;
}

p,li{
font-family: 'Prompt', sans-serif;
}
h1,h2,h3,
nav{
    font-family: 'Bungee', cursive;
}
nav{
    text-align: right;
    font-size: 1.45em;
    letter-spacing: .35em;
}
.container{
    max-width: 95%;
}
.introText{
    text-align: right;
}
.weatherTextWrapper{
    width: 50%;
    height: 100%;
}
.todayWeather{
    width:640px;
    height: 426px;  
    position: relative;
    font-size: 1.25em;
}
.todayWeather img{
    position:absolute;
    z-index: -100;
    opacity: .85;
}
.nextDays{
    width: 450px;
    height: 225px;
    position: relative;
    font-family: 'Prompt', sans-serif;
}
.nextDays img{
    width: 376px;
    height: 225px;
    position:absolute;
    z-index: -100;
    opacity: .85;
}
.nextDays p{
    display: block;
    padding: 0;
}
